body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--base-dark);
  color: #fff;
}
#root {
  overflow: hidden;
}
.scroll {
  overflow-y: scroll !important;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
.container {
  margin: 0 auto;
  width: 58vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
@media (max-aspect-ratio: 29 / 50) {
  .container {
    width: 100%;
  }
}
.main {
  height: 100%;
}
:root {
  --base-dark: #343a40;
}
